.linea_del_tiempo {
    
    margin: 0 auto;
    position: relative;
}


.event {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
    transition: transform 0.3s ease;
}

.event:hover {
    transform: scale(1.05);
}

.fecha {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}


.info-btn {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-btn:hover {
    background-color: #0056b3;
}


.contenido {
    display: none;
    margin-top: 10px;
}


.event:hover .contenido {
    display: block;
}


.contenido img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
@media screen and (max-width: 375px) {
    body {
        padding: 10px;
    }
    
    .linea_del_tiempo {
        width: 100%;
    }

    .event {
        padding: 10px;
        font-size: 0.9em; 
    }

    .date {
        font-size: 1em; 
    }

    .info-btn {
        padding: 8px; 
        font-size: 0.9em; 
    }

    .content {
        font-size: 0.9em; 
    }

    .content img {
        border-radius: 5px; 
    }
}